.about-container {
    display: inline-block;
}

/* .box {
    display: inline-block;
} */

.audio {
    align-items: center;

}
.text {
    text-align: center;
    color: purple;
    border: 3px dashed blue;
    padding: 20px;
    height: 150px;
    width: 450px;
}