.about-container {
    display: inline-block;
    width: 100%;
    height: 765px;
    position: relative;
    top: 100px;
}

.box {
    display: inline;
}

.video {
    float: left;
}
.audio {
    /* align-items: center; */
    margin-left: 230px;
    padding: 10px;
    float: right;

}
.text {
    text-align: center;
    color: purple;
    border: 3px dashed blue;
    padding: 20px;
    height: 150px;
    width: 400px;
}