.container {
    display: inline-block;

}

.register-text {
    height: 180px;
    width: 90%;
    position: relative;
    top: 100px;
    text-align: center;
    Color: purple;
    font-size: 24px;
    font-weight: bolder;
    border: 3px solid navy;
    margin-left: 50px;
    background-color: #D3D3D3;
    font-family: satisfy, cursive;
}
.contact-us {
    height: 600px;
    width: 50%;
    color: navy;
    font-weight: bold;
    background-color: #D3D3D3;
    position: relative;
    top: 110px;
    margin-left: 270px;
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid purple;
}

.contact {
    color: black;
    height: 400px;
    width: 100%;
    /* position: relative;
    top: 100px;
    margin: 60px; */

}

/* .info {
    color: black;
    height: 30px;
    width: 350px;
    display: inline-block;
    margin: 15px;
    border: 2px solid purple;
} */



.information {
    width: 350px;
    height: 40px;
    display: block;
    margin: 30px;
}

.photographs {
    display: inline;
  
}
.rome {
    width: 200px;
    /* display: inline-block; */
    float: right;
}

.vietnam {
    width: 180px;
    /* display: inline-block; */
    float: left;
    margin-right: 650px;
}