
body {
    margin: 0;
    /* width: 100%; */
    font-family: 'Montserrat', sans-serif;
  }
  /*******NAVIGATION********/
  .nav-bar {
    height: 90px;
    width: 100%; 
    background-color: #D9AFCA;
    position: fixed;
    z-index: 1;
  }

  .logo {
    position: sticky;
    height: 90px;
    width: 90px; 
    margin-left: 20px; 
    margin-top: 5px;
  }
  
  .nav-list {
    color: navy;
    list-style-type: none;
    margin-right: 20px;
    text-align: center;
    float: right;
    height: 90px;
  }

  .nav-list-items {
    color: navy;
    margin: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    display: inline-block;

  }
  
  .nav-list-items:hover {
    background-color: gray;
  }
  
  .nav-list-items a {
    text-decoration: none;
  }
  
 
  .banner {
    background-image: url("../img/Paris-Tower.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-pic {
    width: 100%; 
  }
  
  .h1 {
    color: purple;
    height: 200px;
    width: 200px;
    font-size: 75px;
    position: absolute;
    top: 300px;
    Left: 40%;
    font-family: 'Satisfy', cursive;
    letter-spacing: 5px;
    text-align: center;
  }

  .row {
    margin: 5px;
    display: inline-block;
  }
  
  .column {
    border: 3px solid purple;
    width: 640px;
    height: 600px;
    margin-left: 25px;
  }

  .box {
    height: 280px;
    width: 600px;
    position: relative;
    left: 20px;
    top: 20px;

  }

  /* .col-box1 img{
    width: 100%;
  } */

  .box img{
    height: 280px;
    width: 100%;
    padding-top: 5px; 
  }
  
  .box2 {
    display: inline-block;
  }
  
  .bali-box {
    display: inline-block;
  }

  .col-text {
    border: 3px solid purple;
    /* margin: 40px; */
    height: 500px;
    width: 500px;
    /* padding: 20px; */
    text-align: center;
    position: relative;
    
  }

  .bali-photo {
    width: 100%;
    /**border: 4px solid blue;**/
    Float: right;

  }
  
  /**.description {
    padding-top: 20px;
  }**/

  .border {
    /* position: relative; */
    left: 20px;
    top: 30px;
  }

  /**.travel-text {
    width: 80%;
    float: right;
    padding: 20px;
    border: 4px solid blue;
    text-align: center;
  }**/
  

 .footer {
   width: 100%;
   height: 100px;
   /**position: relative;**/
   background-color: #D9AFCA;
   text-align: center;
   margin: 0 auto;
 }

 .footer-col {
   display: inline-block;
   /* height: 100px; */
   width: 33%
 }

 .button {
   color: navy;
   background-color: gray;
   height: 30px;
   width: 150px;
 }

 .input {
   height: 30px;
   width: 150px;
 }

 .fab {
   font-size: 2.5em;
   padding: 30px;
 }

 .fa-instagram {
   color: #3b5598;
 }

 .fa-linkedin {
   color: #3b5598;
 }

 .fa-tumblr {
   color: #689b69;
 }
 
 .copyright {
   color: navy;
 }